<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Lost Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <div id="container">
    Where should we send the new password? 
    <ion-grid style="width: 80%">
      <ion-row>
        <ion-input type="email" class="input" placeholder="Your Email" [(ngModel)]="email"></ion-input>
      </ion-row>
    </ion-grid>

    <ion-button block clear color="dark" (click)="signUp()">
      Send It
    </ion-button>
  </div>

</ion-content>
